* {
  font-family: Helvetica;
}

body {

  padding: 10px  0 0 0;
  background: #191E23;
  position: relative;
  margin: 0;
}

h1.title {
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 15px;
}

.new-cards {
  width: 200px;
  position: absolute;
  cursor: move;
  background: #212B34;
  padding: 10px;
  position: absolute;
  top: 66px;
  bottom: 0px;
  left: 0px;
}

.new-cards .ui-sortable-placeholder {
  visibility: visible;
}

.new-card  {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 12px 10px;
  margin-bottom: 5px;
  cursor: move;
  text-align: center;
  background: #5E7488;
  color: black;
}

.new-card h1 {
  font-size: 15px;
  font-weight: regular;
}

.new-card:hover {
  color: white;
  background: #309bd8;
}

.new-card h1 {
  padding: 0;
  margin: 0;
}

.new-card .delete-card {
  display: none;
}


.card h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
}

.tracker-wrapper {
  position: relative;
  margin-left: 230px;
  width: (100% - 220px);
}

.tracker {
  position: relative;
}

.tracker .row {
  position: relative;
  height: 84px;
}

.tracker .cell {
  background: #31363d;
  height: 80px;
  float: left;
  position: relative;
  width: 22%;
  border-right: solid 4px #222;
  border-bottom: solid 2px #222;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.tracker .row-ui {
  float: left;
}

.tracker .row-ui a {
  color: white;
  background: rgba(255,255,255,.3);
  border-radius: 25px;
  opacity: .3;
  display: block;
  text-decoration: none;
  padding: 4px 8px;
  position: relative;
  top: 27px;
  left: 5px;
  
}

.tracker .row-ui a:hover {
  opacity: 1;
}

.tracker .drop-hover {
  background: #3d434c;
}

.ui-sortable-placeholder {
  display: none;
}


.card {
  background: #309bd8;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  text-align: center;
  padding: 30px 0;
  cursor: move;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-bottom: solid 2px #1b75a8;
  text-shadow: 0px -1px 0px #1b75a8;
}

.bottom-ui {
  position: absolute;
  bottom: -30px;
}

.add-row {
  opacity: .2;
  color: white;
  font-family: Helvetica;
  text-decoration: none;
}

.add-row:hover {
  opacity: 1;
}

.delete-card {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 10px;
  opacity: .2;
  right: 10px;
}

.delete-card:hover {
  opacity: 1;
}

.playhead {
  position: absolute;
  width: 2px;
  height: 100%;
  opacity: .6;
  top: 0px ;
  left: 50px;
  background: #E66000;
}

